@import url("/styles/bottom-navigation.css");
@import url("/styles/material-symbols.css");
@font-face {
  font-family: 'ProductSans';
  src: url(/assets/ProductSans.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "ProductSans";
  letter-spacing: 1.1px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}


.container {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

h1,
h2 {
  color: #333;
}

.current-time,
.next-bus,
.bus-schedule {
  margin-bottom: 20px;
}

#current-time {
  font-size: 1.8em;
  color: #555;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 1.1em;
}

th {
  background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table caption {
  font-size: 1.3em;
  font-weight: bold;
}

.next-forward-bus-name,
.next-reverse-bus-name {
  color: rebeccapurple;
}

table tr.active {
  color: forestgreen;
  font-weight: bold;
  background: #D1FFCD !important;
}

table tr :is(td, th):last-child {
  text-align: center;
}


.next-buses {
  outline: 1px solid #ddd;
  padding: 5px;
  border-radius: 20px;
}
.next-bus-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  margin-bottom: 10px;
}
.next-bus-header .main-header {
  width: 100%;
  background: #eee;
  border-radius: 15px;
  padding: 7px;
  text-align: center;
  font-size: 1.3em;
}
.next-bus-header .route {
  width: calc(50% - 5px);
  background: #eee;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.route.forward {
  margin-right: 10px;
}

.next-bus-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.forward-path, .reverse-path {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.next-bus-card {
  background: #EFFFE4;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bus-name {
  font-weight: bold;
  font-size: 1.2em;
}

.route {
  
}

.no-bus-msg {
  background: #FFD0D0;
  border-radius: 15px;
  padding: 10px;
  flex: 1;
}
/* Light mode styles */
body {
  background: #ffffff; 
}

/* Dark mode styles */
body.dark-mode {
  background: #2C2C2E;
  color: #ffffff;
}

/* Radio toolbar styles */
.radio-toolbar {
  --toolbar-bg: #EEEEEE;
  --toolbar-active-bg: #2169ED;
  --toolbar-active-txt: #fff;
  --toolbar-hover-bg: #444; 
  --toolbar-disabled-bg: transparent; 
  --toolbar-disabled-txt: #888; 
  
  background: var(--toolbar-bg);
  width: 90%;
  border-radius: 14px;
  padding: 5px;
  margin: 15px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  -webkit-tap-highlight-color: transparent;
}

body.dark-mode .radio-toolbar {
  --toolbar-bg: #1F1F1F;
  --toolbar-active-bg: #FFCF17;
  --toolbar-active-txt: #000;
  --toolbar-hover-bg: #444; 
  --toolbar-disabled-bg: transparent; 
  --toolbar-disabled-txt: #888;   
}

.radio-toolbar label {
  flex: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
  margin: 0.5px;
  border-radius: 9px;
  transition: all 0.1s ease;
}

/* Checked radio button styles */
.radio-toolbar input[type="radio"]:checked + label {
  background-color: var(--toolbar-active-bg);
  color: var(--toolbar-active-txt);
}

/* Disabled radio button styles */
.radio-toolbar input[type="radio"]:disabled + label {
  background-color: var(--toolbar-disabled-bg);
  color: var(--toolbar-disabled-txt);
}

/* Hover effect for labels */
.radio-toolbar input[type="radio"] + label:hover {
  transform: scale(1.02);
}

/* Hiding radio inputs */
.radio-toolbar input[type="radio"] {
  display: none;
}


.schedule {
  display: none;
}
#forward-schedule {
  display: block;
}
.content {
  display: none;
  animation: content .3s ease;

}
#tab2 {
  display: none;
  justify-content: center;
}

:is(#tab1,#tab2).active {
  display: flex;
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}