/*@import url("/styles/bottom-navigation.css");
@import url("/styles/radio-toolbar.css");
@import url("/styles/material-symbols.css");
*/
@font-face {
  font-family: 'ProductSans';
  src: url("/assets/ProductSans.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "ProductSans";
  letter-spacing: 1.1px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}

#tab1 #main-header {
  padding: 0 20px;
  background: #eee;
}

#tab1,
#tab2 {
  flex-direction: column;
}

:is(#tab1, #tab2) main {
  padding: 15px;
}

#tab2-main-header {
  padding: 0 20px;
  background: #eee;
  margin: 0;
}

.current-time,
.next-bus,
.bus-schedule {
  margin-bottom: 20px;
}

#current-time {
  font-size: 1.8em;
  color: #555;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 20px;
  margin: auto;
}

thead {
  background-color: #f0f0f0;
}

th,td {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 1.1em;
}

th {
  background-color: #E7E7E7;
}
td {
  white-space: nowrap;
}
tr > :is(th,td):first-child {
  border-radius: 15px 0 0 15px;
  padding-left: 25px;
}

tr > :is(th,td):last-child {
  border-radius: 0 15px 15px 0;
}

tbody tr {
  background-color: #F5F5F5;
}

table caption {
  font-size: 1.3em;
  font-weight: bold;
}
table tr.active {
  color: forestgreen;
  font-weight: bold;
  background: #D1FFCD !important;
}

table tr :is(td, th):last-child {
  text-align: center;
}
small {
  font-size: 0.7em;
  color: #999;
}

.next-buses {
  outline: 1px solid #ddd;
  padding: 5px;
  border-radius: 20px;
}

.next-bus-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  margin-bottom: 10px;
}

.next-bus-header .main-header {
  width: 100%;
  background: #DCDCFF;
  border-radius: 15px;
  padding: 7px;
  text-align: center;
  font-size: 1.3em;
}

.next-bus-header .route {
  width: calc(50% - 5px);
  background: #eee;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.route.forward {
  margin-right: 10px;
}

.route:is(.reverse,.forward) {
  padding-left: 60px;
  white-space: nowrap;
  overflow: hidden;
}

.next-bus-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.forward-path,
.reverse-path {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.forward-path::after {
  content: "";
  height: calc(100% + 60px);
  width: 1px;
  background: #ddd;
  position: absolute;
  right: -5px;
  top: -55px;
}

.next-bus-card {
  background: #E4D4FF;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bus-name {
  font-weight: bold;
  font-size: 1.1em;
  white-space: nowrap;
  color: rebeccapurple;
}

.next-bus-card small {
  color: #9B7ECF;
}
.route {}

.no-bus-msg {
  background: #FFD0D0;
  border-radius: 15px;
  padding: 10px;
  flex: 1;
}


.schedule {
  display: none;
}

#forward-schedule {
  display: block;
}

.content {
  display: none;
  animation: content .3s ease;

}

#tab2 {
  display: none;
  justify-content: center;
}

:is(#tab1, #tab2).active {
  display: flex;
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
